<mat-toolbar color="primary" [style.backgroundColor]="'#006EB4'">
  <mat-toolbar-row>
    <a mat-button href="/">
      <img
        _ngcontent-cfi-c15=""
        alt="logo"
        src="https://raw.githubusercontent.com/wizsolucoes/angular-white-label-schematic/master/docs/logowiz.png"
      />
    </a>
    <span [style.fontSize]="'15px'">
      <a mat-button href="/"> SOMA </a>
    </span>
    <span [style.fontSize]="'15px'"> <a mat-button href="/">USUÁRIOS</a></span>

    <span class="example-spacer"></span>
    <a mat-button href="/">
      <span [style.fontSize]="'15px'">logout </span>
      <span class="material-icons"> logout </span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
