<main [ngStyle]="{ padding: '40px' }">
  <mat-spinner
    *ngIf=""
    color="warn"
    [ngStyle]="{ margin: 'auto' }"
  ></mat-spinner>
  <mat-grid-list cols="2" rowHeight="6:1">
    <mat-grid-tile class="wrapper" *ngFor="let user of users">
      <div [ngStyle]="{ padding: '16px' }" class="container">
        <mat-card class="example-card card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image img"
              [ngStyle]="{
                'background-image': 'url(\' ' + user.avatar + '\')'
              }"
            ></div>
            <mat-card-title>
              {{ user.first_name }} {{ user.last_name }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ user.email }}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</main>
